@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  scroll-behavior: smooth;
}

.font-krub {
  font-family: "Krub", sans-serif;
  font-weight: 400;
}

.font-spartan {
  font-family: "League Spartan", sans-serif;
}
